/* Đặt màu nền và màu chữ */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Màu nền sáng */
  color: #333; /* Màu chữ tối */
}

/* Định dạng header */
header {
  background-color: #4CAF50; /* Màu nền xanh lá cây nhạt */
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

main h2 {
  color: #4CAF50; /* Màu tiêu đề xanh lá */
}

main ul {
  list-style-type: none;
  padding: 0;
}

main ul li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
